:root{
  --adelem-vert-noir:#080905;
  --adelem-encre:#11130F;
  --adelem-cuivre:#E3AF96;
  --adelem-cuivre-profond:#AD7965;
  --adelem-ivoire:#F4F1E9;
  --adelem-papier:#FAF8F3;
  --adelem-mousse:#68745F;
}